/* HeroLandingSec Started  */
.HeroLandingSec{
    background:url(/Images/HeroImg.png)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 0;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background: linear-gradient(0deg, #213449 0%, #21344900 100%);
    }
}
.HeroLandingSec .HeroLandingData{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 1;
}
.HeroLandingSec .HeroLandingData .HeroHeading{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.HeroLandingSec .HeroLandingData .HeroHeading span{
    background: #FFFFFF33;
    width: fit-content;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}
.HeroLandingSec .HeroLandingData .HeroHeading h2{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 600;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv p {
    width: 50%;
    color: #FFFFFF99;
    font-size: 16px;
    line-height: 30px;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv .HeroClientData {
   display: flex;
   align-items: center;
   gap: 20px;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv .HeroClientData .ClntItems {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   text-align: end;
   width: 100%;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv .HeroClientData .ClntItems h4 {
   font-size: 18px;
   color: #fff;
   font-weight: 600;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv .HeroClientData .ClntItems p{
   width: 100%;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
}
.HeroLandingSec .HeroLandingData .HeroHeadingParaDiv .HeroClientData img {
   width: 100%;
   height: auto;
}
.HeroLandingSec .HeroLandingData .HeroCaseData {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 0px;
   margin-top: 50px;
}
.HeroLandingSec .HeroLandingData .HeroCaseData h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color:#FFFFFF;
}
/* HeroLandingSec Ended  */

/* LegalSection Started  */
.LegalSection{
    min-height: 485px;
    display: flex;
    align-items: center;
}
.LegalSection .LegalItemsDiv{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.LegalSection .LegalItemsDiv .LegalItems{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.LegalSection .LegalItemsDiv .LegalItems h3{
    color: #000000;
    font-size: 24px;
}
.LegalSection .LegalItemsDiv p{
    color: #7A7A7A;
    font-size: 16px;
    line-height: 24px;
}
.LegalSection .LegalItemsDiv a.btn{
    font-size: 12px;
    font-weight: 600;
    color: #213449;
    background-color: #EBF0F6;
    border-radius: 4px ;
    padding: 6px 15px;
    width: fit-content;
    transition: all .4s ease-in-out;
}
/* LegalSection Ended */

/* AboutFirmSec Started  */

.AboutFirmSec{
    padding: 100px 0px;
    min-height: 728px;
    background: #EBF0F6;
    display: flex;
    align-items: center;
}
.AboutFirmSec .AbutFirmData{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem{
    position: relative;
    height: max-content;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem .AbtFirmImage{
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    transition: transform 0.5s ease-in-out ;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem .AbtFirmImage img{
    width: 100%;
    border-radius: 24px;
    transition: transform 0.5s ease-in-out ;
    &:hover{
        transform: scale(1.1);
    }
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem .Firmtexted{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0 auto;
    background: rgba(0, 0, 0, .15);
    -webkit-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: grid;
    align-items: center;
    grid-template-columns: 40% auto;
    padding: 20px;
    border-radius: 12px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem .Firmtexted h2{
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem .Firmtexted h2 span{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .LeftFirmItem .Firmtexted p{
    font-size: 17px;
    color: #FFFFFF99;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .RytFirmItem{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .RytFirmItem .FirmTexed{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .RytFirmItem .FirmTexed span{
    background: #00000013;
    width: fit-content;
    padding: 5px 10px;
    color: 000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}
.AboutFirmSec .AbutFirmData .FirmDataDiv .RytFirmItem .FirmTexed h2{
    color: #000000;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}
.AboutFirmSec .AbutFirmData .FirmLocateDiv{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.AboutFirmSec .AbutFirmData .FirmLocateDiv a{
    display: flex;
    align-items: center;
    gap: 20px;
}
.AboutFirmSec .AbutFirmData .FirmLocateDiv a svg{
    color: #213449;
}
.AboutFirmSec .AbutFirmData .FirmLocateDiv a .loctitem{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.AboutFirmSec .AbutFirmData .FirmLocateDiv a .loctitem h6{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
}
.AboutFirmSec .AbutFirmData .FirmLocateDiv a .loctitem p{
    font-size: 16px;
    line-height: 24px;
    color: #7A7A7A;
}


/* AboutFirmSec ended */



/* PracticeSec Started  */

.PracticeSec{
    background: #213449;
    min-height: 850px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.PracticeSec .PracticeData{
    display: grid;
    grid-template-columns: 420px 1fr;
}
.PracticeSec .PracticeData .PracticeLeftItems{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.PracticeSec .PracticeData .PracticeLeftItems .PrctHead{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.PracticeSec .PracticeData .PracticeLeftItems .PrctHead span{
    background: #FFFFFF33;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: #FFFFFF;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
}
.PracticeSec .PracticeData .PracticeLeftItems .PrctHead h2{
    font-size: 40px;
    line-height: 54px;
    color: #fff;
}
.PracticeSec .PracticeData .PracticeLeftItems .PrctHead{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.PracticeSec .PracticeData .PracticeRytItems{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 62px 40px;
}
.PracticeSec .PracticeData .PracticeRytItems .PractItems{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: flex-start;
}
.PracticeSec .PracticeData .PracticeRytItems .PractItems span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #FFFFFF33;
}
.PracticeSec .PracticeData .PracticeRytItems .PractItems .PrctTexted{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.PracticeSec .PracticeData .PracticeRytItems .PractItems .PrctTexted h4{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
}
.PracticeSec .PracticeData .PracticeRytItems .PractItems .PrctTexted p{
    font-size: 16px;
    color: #FFFFFF99;
    font-weight: 400;
    line-height: 24px;
}

/* PracticeSec Ended  */


/* WorkProcessSec Started  */

.WorkProcessSec{
    padding: 80px 0;
    display: flex;
    align-items: center;
    background: #EBF0F6;
}
.WorkProcessSec .ProcessData{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 55px;
}
.WorkProcessSec .ProcessData .leftProcess{
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out ;
}
.WorkProcessSec .ProcessData .leftProcess img{
    transition: translate 0.3s ease-in-out;
    border-radius: 24px;
    transition: transform 0.5s ease-in-out ;
    &:hover{
        transform: scale(1.1);
    }
}
.WorkProcessSec .ProcessData .RightProcess {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.WorkProcessSec .ProcessData .RightProcess .prossshead{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.WorkProcessSec .ProcessData .RightProcess .prossshead span{
    background: #00000013;
    width: fit-content;
    padding: 5px 10px;
    color: 000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}
.WorkProcessSec .ProcessData .RightProcess .prossshead h2{
    font-size: 40px;
    line-height: 54px;
    color: #000000;
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems .CaseItems{
    display: grid;
    align-items: flex-start;
    gap: 22px;
    grid-template-columns: 50px auto;
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems .CaseItems span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background: #213449;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    &::after{
        content: " ";
        background: #213449;
        width: 1px;
        height: 78px;
        position: absolute;
        bottom: -78px;
    }
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems .CaseItems:last-child span::after{
    height: 0;
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems .CaseItems .CaseTexed{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems .CaseItems .CaseTexed h4{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.WorkProcessSec .ProcessData .RightProcess .ProcessCaseItems .CaseItems .CaseTexed p{
    font-size: 16px;
    color: #7A7A7A;
    line-height: 24px;
    font-weight: 400;
}

/* WorkProcessSec Ended */


/* CounterSec Started  */
.CounterSec{
    background: #2B425D;
    min-height: 280px;
    display: flex;
    align-items: center;
}
.CounterSec .CounterData{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.CounterSec .CounterData .CounterItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.CounterSec .CounterData .CounterItems h2{
    font-size: 42px;
    font-weight: 600;
    color: #FFFFFF;
}
.CounterSec .CounterData .CounterItems p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
/* CounterSec Ended */

/* FaQSec Started  */
.FaQSec{
    background: #FFFFFF;
    padding: 100px 0px;
}
.FaQSec .faq-wrapper{
    display: grid;
    grid-template-columns: 420px auto;
}
.FaQSec .faq-wrapper .faq-heading{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.FaQSec .faq-wrapper .faq-heading span{
    background: #00000013;
    width: fit-content;
    padding: 5px 10px;
    color: 000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}
.FaQSec .faq-wrapper .faq-heading h2{
    font-size: 40px;
    line-height: 54px;
    color: #000000;
}
.FaQSec .faq-wrapper .faq-content , .RytFirmItem .FirmsTabsDiv  { 
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.RytFirmItem .FirmsTabsDiv  .tab-content .TabPara { 
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 500;
}
.FaQSec .faq-wrapper .faq-content .faq-contentTabs  , .RytFirmItem .FirmsTabsDiv .FirmTabs{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    border-bottom: 1px solid #7A7A7A;
}

.FaQSec .faq-wrapper .faq-content .faq-contentTabs button , .RytFirmItem .FirmsTabsDiv .FirmTabs button{ 
   background: #02010100;
   border: none;
   padding: 0;
   color: #7A7A7A;
   font-size: 16px;
   font-weight: 500;
   width: 100%;
   min-height: 48px;
   border-radius: 0px;
   &:hover{
    background: #213449e1;
    color: #fff;
   }
}
.FaQSec .faq-wrapper .faq-content .faq-contentTabs button.active , .RytFirmItem .FirmsTabsDiv .FirmTabs button.active{ 
   background: #213449;
   color: #fff;
}
.FaQSec .faq-wrapper .faq-content .FAQACCORDION .accordion-item{
    border: none;
    border-bottom: 1px solid #7a7a7a5d;
    border-radius: 0;
}
.FaQSec .faq-wrapper .faq-content .FAQACCORDION .accordion-item:last-child{
    border: none;
}
.FaQSec .faq-wrapper .faq-content .FAQACCORDION .accordion-item button {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
}
.FaQSec .faq-wrapper .faq-content .FAQACCORDION .accordion-item .accordion-header .accordion-button:not(.collapsed){
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    background: transparent;
}
.FaQSec .faq-wrapper .faq-content .FAQACCORDION .accordion-item .accordion-collapse .accordion-body{
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 500;
    padding: 1rem 1.25rem;
}


/* FaQSec Ended */